<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamdigitizers.megamelodies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic__megamelodies_logo"
        android:label="@string/title__app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.classes.activities.ActivityMain"
            android:configChanges="orientation|screenSize|locale"
            android:windowSoftInputMode="stateUnspecified|adjustResize" >

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.dreamdigitizers.androidbaselibrary.views.classes.activities.ActivityDummy"
            android:theme="@android:style/Theme.NoDisplay"
            android:allowTaskReparenting="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true" />

        <provider
            android:name=".models.local.sqlite.ContentProviderMegaMelodies"
            android:authorities="com.dreamdigitizers.megamelodies.ContentProviderMegaMelodies" />

        <service
            android:name=".views.classes.services.ServicePlayback" >

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserServiceCompat" />
                <action android:name="com.dreamdigitizers.androidbaselibrary.views.classes.services.ServiceMediaBrowser.ACTION__MEDIA_COMMAND" />
            </intent-filter>

        </service>

        <receiver
            android:name="com.dreamdigitizers.androidbaselibrary.views.classes.services.ServiceMediaBrowser$MediaButtonReceiver">

            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>

        </receiver>

    </application>

</manifest>
